main {
    margin-top: 10px;
    padding: 2rem 1.5rem;
    background: #f1f5f0;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2rem;
}

.engagement-cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2rem;
}

.outcome-cards1 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
}

.outcome-cards2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
}

.feature-cards1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature-cards2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature1-row1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature1-row2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature2-row1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature2-row2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature3 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature3-row1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature3-row2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature4 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature4-row1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.feature4-row2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}